.logo {
  margin-right: auto;
}

.navbar {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}

.anchor {
  text-decoration: none;
  margin-left: 12px;
}
