.logo {
  margin-right: auto;
}

.navbar {
  margin: 10px auto 80px;
  padding: 10px 5px;
  padding-left: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 3px solid rgb(240, 7, 7);
  color: white;
  background-color: black;
}

.links {
  margin-right: 70px;
}
.anchor {
  text-decoration: none;
  margin-left: 50px;
}
