.logo {
  margin-right: auto;
}

.navbar {
  margin: 1px auto 10px;
  padding: 5px 2.5px 5px 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 3px solid rgb(240, 7, 7);
  color: white;
  background-color: black;
}

.links {
  margin-right: 70px;
}
.anchor {
  text-decoration: none;
  margin-left: 50px;
}

.active {
  text-decoration: none;
  margin-left: 50px;
  padding-bottom: 10px;
  border-bottom: 3px solid rgb(240, 7, 7);
}
